* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-blue: #0a2640;
  --green: #65e4a3;
  --gray: #777;
}
body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  outline: none;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(242, 240, 240);
}

::-webkit-scrollbar-thumb {
  background-color: #b8bbbe;
  border-radius: 3px;
}
